$duration: 500ms;

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  #main-title {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  nav ul {
    list-style-type: none;    
    display: flex;

    li {
      margin-right: 20px;

      a {
        position: relative;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 20px;
        color: white;
        font-size: 1.1em;
        font-weight: 400;
        transition: .5s;
        z-index: 1;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 1px solid #778899;
          border-bottom: 1px solid #778899;
          transform: scaleY(2);
          opacity: 0;
          transition: .3s;
        }
        &:after {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #778899;
          transform: scale(0);
          opacity: 0;
          transition: .3s;
          z-index: -1;
        }
        &:hover {
          color: black;
          &:before {
            transform: scaleY(1);
            opacity: 1;
          }
          &:after {
            transform: scaleY(1);
            opacity: 1;
          }
        }
      }
    }
  }
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0;
  transition: all 350ms ease-in;
  border: solid 5px white;

  .modal__dialog {
    position: relative;
    padding: 20px;
    min-width: 50%;
    max-width: 70%;
    max-height: 85%;
    border-radius: 5px;
    border: solid;
    border-color: white;
    background: black;
    color: white;
    overflow: auto;
    cursor: default;

    .modal__content .modal__img {
      display: block;
      margin: auto;
      pointer-events: none;
    }

    .modal__content .close {
      float: right;
      text-align: center;
      display: block;
      height: 25px;
      width: 25px;
      line-height: 25px;
      border-radius: 50%;
      background-color: rgba(255, 0, 0, 0.2);

        &:hover {
          cursor: pointer;
          font-weight: bold;
        }
    }
  }
  
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}


h1 {
  color: red;
  text-align: center;
}

#best-film {
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: #1b252f;
  box-shadow: 1px 1px 10px #778899;

  #best-film__img {
    width: 200px;
    height:300px;
    border: 2px groove #778899;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
  }

  #best-film__info {
    max-width: 50%;
    min-height: 100%;
    padding-top: 40px;
    padding-right: 120px;
    margin-left:25px;
    position: relative;
      
    #best-film__title {
      display: inline-block;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #best-film__description {
      color: white;
      display: block;
      text-align: justify;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.2em;
    }

    #open-modal {
      font-weight: bold;
      background: white;
      color: black;
      padding: 5px 10px;
      margin-bottom: 1rem;
      border-radius: 5px;
      display: block;
      margin: auto;
    }
  }
}

.carousel {
  position: relative;
  overflow: hidden;

  .carousel__container {
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);

    .carousel__item {
      float: left;
      
      img:hover {
        opacity: 0.6;
        border: solid 1px white; 
        cursor: pointer;
      }
    }
  }

  .carousel__next, .carousel__prev {
    position: absolute;
    color: #fff;
    font-size: 5em;
    background:rgb(0,0,0);
    width: 50px;
    padding: 20px;
    text-align: center;
    z-index: 1;
    top: 0; bottom:0; right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    cursor: pointer;
  }

  .carousel__prev {
    right: auto;
    left: -20px;
  }
}