html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
  border: solid 5px white;
}

.modal .modal-dialog {
  position: relative;
  padding: 20px;
  min-width: 500px;
  max-width: 800px;
  max-height: 85%;
  border-radius: 5px;
  border: solid;
  border-color: white;
  background: black;
  color: white;
  overflow: auto;
  cursor: default;
}

.modal .modal-dialog .data-img {
  display: block;
  margin: auto;
}

.modal .modal-dialog .modal-content .close {
  float: right;
  text-align: center;
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
}

.modal .modal-dialog .modal-content .close:hover {
  cursor: pointer;
  font-weight: bold;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

h1 {
  color: red;
  text-align: center;
}

#best-film {
  width: 65%;
  height: 65%;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border: 5px ridge grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  -webkit-box-shadow: 1px 2px 15px white;
          box-shadow: 1px 2px 15px white;
}

#best-film #best-film-img {
  width: 200px;
  height: 300px;
  display: inline-block;
  border: 3px ridge grey;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

#best-film .info {
  min-width: 300px;
  min-height: 150px;
  padding: 20px;
  display: inline-block;
  margin-left: 25px;
  position: relative;
}

#best-film .info .best-film-title {
  display: block;
  color: white;
}

#best-film .info .description {
  color: white;
  display: block;
  text-align: justify;
}

#best-film .info #open-modal {
  font-weight: bold;
  background: white;
  color: black;
  padding: 5px 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.carousel {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel section {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 40px 0;
}

.carousel section .film {
  padding: 0 2px;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.carousel section .film:hover {
  margin: 0 40px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel section .film .title {
  position: absolute;
  font-size: small;
  bottom: 0;
  color: #fff;
}

.carousel section .arrow {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 5em;
  background: black;
  width: 50px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.carousel section .left-arrow {
  top: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.carousel section .right-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
/*# sourceMappingURL=styles.css.map */